<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="image_container">
    <h1>Images</h1>
    <p>
      Images can be responsive to fit the parent's width, and also can be
      customised to be round shaped
    </p>
    <h3>Example of Responsive Image</h3>
    <p>
      You can add class img-responsive to make your image fit the width of
      container. It's height will get adjusted by keeping the aspect ratio
      same. If you want to change the aspect ratio, you will have to crop
      the image.
    </p>
    <div class="image_main_container">
      <img
        class="img_responsive"
        src="https://cdn.pixabay.com/photo/2012/10/24/19/40/maple-leaves-62759__340.jpg"
        alt=""
      />
    </div>
    <h3>Example of round images</h3>
    <p>You can add class img-round to make your image round shaped.</p>
    <div class="image_main_container">
      <img
        class="img_round"
        src="https://cdn.pixabay.com/photo/2017/10/26/14/06/lotus-2891216__340.jpg"
        alt=""
      />
    </div>
  </div>
</body>
</html>