<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="grid_container">
    <h1>Grid</h1>
    <p>
      Use grid when you want sections in view. Check below some examples of
      side by side cards.
    </p>
    <h3>Example of side by side (50:50) layout</h3>
    <p>Add grid_50_50 layout class on wrapper div which is wrapping 2 divs</p>
    <div class="grid_main_container grid_50_50">
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_content">
        <h1>Music competition</h1>
        <h4>Show the world your talent and become the next Rockstar</h4>
        <button>Register</button>
      </div>
    </div>

    <p>Add grid_70_30 layout class on wrapper div which is wrapping 2 divs</p>
    <div class="grid_main_container grid_70_30">
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_content">
        <h1>Music competition</h1>
        <h4>Show the world your talent and become the next Rockstar</h4>
        <button>Register</button>
      </div>
    </div>

    <p>Add grid_30_70 layout class on wrapper div which is wrapping 2 divs</p>
    <div class="grid_main_container grid_30_70">
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_content">
        <h1>Music competition</h1>
        <h4>Show the world your talent and become the next Rockstar</h4>
        <button>Register</button>
      </div>
    </div>

    <p>
      Add grid_4_column layout class on wrapper div which is wrapping 2 divs
    </p>
    <div class="grid_main_container grid_4_column">
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
      <div class="grid_image">
        <img
          class="img_responsive"
          src="https://cdn.pixabay.com/photo/2021/11/25/19/50/tape-6824489__340.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</body>
</html>