@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=IBM+Plex+Serif:wght@300&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #FF6D6D;
}

.avatar-large img{
  height: 10rem;
  width: 10rem;
}

.avatar-container{
  margin: 2rem 20rem;

}

.avatar_heading{
  color: var(--primary-color);
}

.font{
  font-family: 'Roboto', sans-serif;
}

.avatar{
  margin: 1rem;
}

.avatar img{
  border-radius: 50%;
  /* width: 100%;
  height: auto; */
  border: 2px solid lightcoral;
}

.avatar-medium img{
  height: 6rem;
  width: 6rem;
}

.para_font-size{
  font-size: 1.2rem;
}

.avataars{
  padding: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  border: 1px solid rgb(223, 213, 213);
  align-items: center;
  width: fit-content;
  border-radius: 20px;
}

.avatar-small img{
  height: 4rem;
  width: 4rem;
}

.avatar-extra-small img{
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 480px) {

  .avatar-container{
    padding: 0.5rem;
  }

  .avataars{
    padding: 0rem;
  }

  .avatar{
    margin: 0.8rem;
  }

  .avatar-large img{
    height: 4rem;
    width: 4rem;
  }

  .avatar-medium img{
    height: 3rem;
    width: 3rem;
  }  

  .avatar-small img{
    height: 2rem;
    width: 2rem;
  }

  .avatar-extra-small img{
    height: 1rem;
    width: 1rem;
  }
}