<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="avatar.css">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="avatar-container font">
  <h1 class="avatar_heading">Avataars</h1>
  <p class="para_font-size">Avatar can be used to show user's profile picture on profile information page, on navigation bar, in blogs grid items.  </p>
  <h3 class="avatar_heading">Example of Image Avataar</h3>
  <p class="para_font-size">Avatar is available in 4 different sizes. You can use image in Avatar. You need to include class avatar and for size add class according to size avatar-large, avatar-medium, avatar-small, avatar-extra-small (e.g. class="avatar avatar-large")
   <br> Don't forget to add Responsive Image class names for img element.
  </p>
<div class="avataars">
  <div class="avatar avatar-large">
    <img src="./images/profile.jpg" alt="">
  </div>
  <div class="avatar avatar-medium">
    <img src="./images/profile.jpg" alt="">
  </div>
  <div class="avatar avatar-small">
    <img src="./images/profile.jpg" alt="">
  </div>
  <div class="avatar avatar-extra-small">
    <img src="./images/profile.jpg" alt="">
  </div>
</div>
</div>
  
</body>
</html>