<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="rating_container">
    <h1>Rating</h1>
    <p>
      Rating components can be used as read-only badge or in reviews section.
      Can be used in reviews section as form too.
    </p>
    <h3>Example of read-only ratings</h3>
    <p>There are two types, input read-only and badge</p>

    <div class="rating_main_container">
      <div class="rating_star_container">
        <i class="fas fa-star rating_star"></i>
        <i class="fas fa-star rating_star"></i>
        <i class="fas fa-star rating_star"></i>
        <i class="fas fa-star rating_star"></i>
        <i class="fas fa-star"></i>
      </div>
      
      <div class="rating_badge_container">
        <span>5</span>
        <span><i class="fas fa-star rating_star"></i></span>
        <span>|</span>
        <span>5</span>
      </div>
    </div>
    
    <div class="code_container">
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=21px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522rating_main_container%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522rating_star_container%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating_star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating_star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating_star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2520rating_star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
        style="border:0; overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
  </div>
</body>
</html>