<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="badge.css">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="badge_container">
    <h1 class="component_main_heading">Badge</h1>
    <p class="para_font-size1">
      Badges are being used to display a notification count or status
      information
    </p>
    <h3>Example of Status Badge</h3>
    <p class="para_font-size">
      We have 2 types of status badges that can be integrated with
      Avatars. You can show colors to show the online status of user.
      And to show cart or notification count, you can use number badge.
      Check code below to copy the html part as is.
    </p>
    <div class="avatar_badge_container">
      <div class="avatar_badge">
        <div class="avatar avatar-large">
          <img src="../images/profile1.jpg" alt="" />
        </div>
        <span class="avatar_badge_online status_badge"></span>
      </div>

      <div class="avatar_badge">
        <div class="avatar avatar-medium">
          <img src="../images/profile2.jpg" alt="" />
        </div>
        <span class="avatar_badge_offline status_badge"></span>
      </div>

      <div class="avatar_badge">
        <div class="avatar avatar-small">
          <img src="../images/profile3.jpg" alt="" />
        </div>
        <span class="avatar_badge_away status_badge"></span>
      </div>

      <div class="avatar_badge">
        <div class="badge_on_icon">
          <img src="../images/home.png" />
        </div>
        <span class="icon_badge">4</span>
      </div>
    </div>
  </div>


</body>
</html>