<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="modal_container">
    <h1>Modal</h1>
    <p>
      Modals are positioned over everything else in the document and remove
      scroll from the page. It gets closed only with close button on modal
      pop-up.
    </p>
    <h3>Example of Modal</h3>

    <div class="modal_main_container">
      <div class="close_btn">
        <a href="#">X</a>
      </div>
      <div class="modal_content">
        <div class="model_content_title">
          <h3>Shop with exclusive offers</h3>
        </div>
        <div class="modal_content_desc">
          <p>
            White and blue printed playsuit with knot detail, has a shirt
            collar, sleeveless, button closures
          </p>
        </div>
        <div class="modal_content_btn">
          <a href="#" class="btn secondary_solid_btn">Go back</a>
          <a href="#" class="btn primary_solid_btn">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>