<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="alert.css">
  <title>NeoDev UI</title>
</head>
<body>
  <div class="alert_container">
    <h1 class="component_main_heading">
      Alerts
    </h1>
    <p class="para_font-size1">
      Alerts are used to attract user's attention for important
      information without interrupting the user's flow.
    </p>
    <h3>
      Examples of Alerts
    </h3>
    <p class="para_font-size">
      Alerts are available in 5 types- success alert, error alert,
      warning alert, primary alert, secondary alert. To use this alert
      just use class name alert-box and also add class according to
      alert type- primary_alert, secondary_alert, danger_alert,
      successfull_alert, warning_alert. (e.g.class="alert-box
      alert-primary"). You can copy html part from below code snippet.
    </p>
    <div class="alert_main_container">
      <div class="primary_alert alert">
        <p>
          A primary alert example with a text link
          <a href="#">Click this link</a>
        </p>
      </div>
      <div class="secondary_alert alert">
        <p>
          A secondary alert example!!!
        </p>
      </div>
      <div class="successfull_alert alert">
        <img src="../images/check.png" alt="" />
        <p>A success alert example!!!!</p>
      </div>

      <div class="danger_alert alert">
        <img src="../images/warning.png" alt="" />
        <p>A danger alert example!!!!</p>
      </div>

      <div class="warning_alert alert">
        <img src="../images/yellow-warning.png" alt="" />
        <p>A warning alert example!!!!</p>
      </div>
    </div>
  </div>
</body>
</html>